<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Welcome to sample app</h1>
	<h2>This is the home page from the tutorial</h2>

	<%= link_to "sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "rails_logo"),'http://rubyonrails.org/' %>